body {
  margin: 0;
  font-family: 'Reddit Sans', -apple-system, BlinkMacSystemFont,
  'Ubuntu', 'Helvetica Neue', "微软雅黑", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, a, p, strong, input, small, span, div {
  font-family: 'Reddit Sans', -apple-system, BlinkMacSystemFont,
  'Ubuntu', 'Helvetica Neue', "微软雅黑", "Microsoft YaHei", sans-serif;
}

#root {
  background: linear-gradient(#ffffff 0%, #ffffff 50%, #e0e0e0 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace !important;
}