@keyframes loading {
    0% {
        top: 0;
    }
    50% {
        top: -75px;
    }
    100% {
        top: 0;
    }
}

.preload {
    position: relative;
    animation: loading 1s infinite ease-in-out;
}

.preload-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.preload-page-text {
    position: absolute;
    top: calc(50% + 12.5rem);
    width: 100%;
}